<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="css/style.css">
      <title>Welcome to Game Rangers!</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous" defer></script>
      <script src="js/config.js" defer></script>
      <script src="js/auth.js" defer></script>
      <script src="js/utils.js" defer></script>
      <script src="js/common.js" defer></script>
  </head>

  <body>
  <style>
      .dropdown:hover>.dropdown-menu{
          display: block;
      }
  </style>

  <div class="container-fluid main-container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">GAME RANGERS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" data-page="home.html">
              <a class="nav-link" href="home.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" data-page="profile.html">
              <a class="nav-link" href="profile.html">Profile</a>
            </li>
            <li class="nav-item dropdown" data-page="allgames.html|trending.html|game.html">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="allgames.html">Latest Games</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="trending.html">Trending Now</a>
              </div>
            </li>
            <li class="nav-item" data-page="favourites.html">
              <a class="nav-link" href="favourites.html" >Favourite Games</a>
            </li>
            <li class="nav-item" data-page="news.html">
                    <a class="nav-link" href="news.html" >Latest News</a>
            </li>

            <li class="nav-item dropdown showOnlyIfLoggedOut" data-page="login.html|signup.html" id="navMenuLogin" style="display: none;">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="login.html">Login In</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="signup.html">Sign Up</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item logoutLink" href="#">Logout</a>
              </div>
            </li>

            <li class="nav-item showOnlyIfLoggedIn" id="navMenuLoggedAs" style="display: none;">
                <div class="loggedinas-text" style="display:flex;"><a class="nav-link" href="profile.html" id="loggedAsText">Loading...</a><a class="nav-link logoutLink" style="padding-left: 0;" href="#">(Logout)</a></div>
            </li>

          </ul>
          <form class="form-inline my-2 my-lg-0" id="searchForm" method="GET" action="./search.html">
            <input name="title" id="searchBox" class="form-control form-control-sm mr-sm-2 search-textbox" type="search" placeholder="Search" aria-label="Search">
            <div class="form-group">
              <select class="form-control form-control-sm search-developer-box" name="developer">
                <option value=''>All Developers</option>
                <option value='Epic Game'>Epic Game</option>
                <option value='EA SPORTS'>EA Sports</option>
              </select>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" style="margin-left: 10px;" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="content-container">